@charset "utf-8";

@font-face {
  font-family: Sketch;
  src: url(../images/Sketchathon.ttf);
}

* {
   padding: 0;
   margin: 0;
}

body {
	font-family: Verdana, Tahoma, sans-serif;
	background-image: url(../images/stripe.png);
	font-weight: 100;
}

td {
	text-align: center;
}

input, textarea {  
    padding: 6px;  
    border: solid 1px #999;
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    background: #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2px;
}
    input:focus {  
        -webkit-box-shadow: 0px 0px 5px #74ABE9;
        -moz-box-shadow: 0px 0px 5px #74ABE9;
        box-shadow: 0px 0px 5px #74ABE9;
    }

.header, .filterContainer, .resultsContainer, .container, .headerLogin {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px 40px 40px 40px;
    background: rgba(255,255,255,0.1);
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    margin-top: 20px;
    padding: 20px;
}
.innerHeader, .innerFilter, .innerResults, .innerContainer {
    background-color: #F7F7F7;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px 20px 20px 20px;
	min-height: 40px;
}

.innerContainer {
	min-height: 100px;
	padding: 20px;
}

.password {
	margin-left: 350px;
	padding-top: 10px;
}
.loginb {
	margin-left: 400px;
	margin-top: 10px;
}

.headerLogin {
	height: 85px;
	font-family: Sketch;
 	font-weight: 100;
	font-size: 74px;
	vertical-align: middle;
	text-align: center;
}

.header {
	height: 85px;
	font-family: Sketch;
 	font-weight: 100;
	font-size: 74px;
	vertical-align: middle;
	text-align: center;
}

.innerHeader {
	height: 85px;
}
.innerHeader div {
	float: left;
}
.headerText {
	margin-left: 320px;
	margin-top: 15px;
	background-image: url(../images/logo.png);
	width: 313px;
	height: 55px;
}
.logout {
	font-size: 12px;
	margin-top: 28px;
	margin-left: 80px;
}
	.logout a {
		text-decoration: none;
	}

.minmax {
	position: relative;
	padding: 6px 0;
	cursor: pointer;
	float: left;
	margin-left: 5px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px 20px 20px 20px;
}
	.minmax .ui-icon {
		float: left;
		margin: 0 6px;
	}
	
.subHeader {
	text-align: center;
	margin-right: 30px;
	vertical-align: middle;
	height: 30px;
	font-size: 25px;
	font-family: Sketch;
	padding-top: 5px;
}

.filter {
	height: 240px;
	margin-top: 10px;
	white-space: nowrap;
	font-size: 14px;
}
	.filter hr {
		margin-left: 5px;
		border: 0px;
		background-color: #999;
	}
	.filter div {
		float: left;
	}

.actions {
    border: 1px solid #999999;
	font-size: 13px;
    border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
    height: 205px;
    margin-left: 40px;
    margin-top: -15px;
    overflow: auto;
    padding: 10px;
    width: 280px;
}
	.actions div {
		width: 120px;
	}

.parameters1 {
	margin-left: 20px;
	margin-top: 10px;
	width: 270px;
}
.parameters2 {
	margin-left: 20px;
	margin-top: 10px;
	width: 270px;
}
.selectAll {
	margin-top: 5px;
}
.searchButton {
	height: 40px;
	width: 130px;
	margin-top: -3px;
	margin-left: 3px;
}
.orderRadio {
	vertical-align: middle;
	margin-left: 10px;
	margin-top: 7px;
	line-height: 18px;
}

.tooltip {
	background-color: #000;
	border: 1px solid #fff;
	padding: 10px 15px;
	width: 200px;
	display: none;
	color: #fff;
	text-align: left;
	font-size: 12px;
	box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-overflow: ellipsis;
}

.results {
	margin: 20px 20px 0px 20px;
	padding-bottom: 20px;
}
.searchError {
	width: 500px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	padding-top: 15px;
}
	.searchError .ui-icon {
		margin-top: 6px;
		margin-left: 20px;
		margin-right: -30px;
		float: left;
	}
	
.restable {
	width: 900px;
}
	.restable td {
		padding: 5px;
    	font-size: 11px;
	}

.loading {
	background-image: url(../images/ajax-loader.gif);
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	height: 20px;
}

.DataTables_sort_wrapper
{
    font-size: 14px;
}
.dataTables_paginate {
    font-size: 12px;
}
.dataTables_length {
    font-size: 12px;
}
.dataTables_info {
    font-size: 12px;
}
.dataTables_filter input
{
    padding: 2px !important;
}

.footer {
	text-align: center;
	margin-top: 20px;
	color: #999;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	margin-bottom: 20px;
}