@charset "utf-8";

@font-face {
  font-family: Sketch;
  src: url(../images/Sketchathon.ttf);
}

* {
   padding: 0;
   margin: 0;
}

body {
	font-family: Verdana, Tahoma, sans-serif;
	background-image: url(../images/stripe.png);
}

input, textarea {  
    padding: 6px;  
    border: solid 1px #999;
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 100px;  
    background: #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2px;
}
    input:focus {  
        -webkit-box-shadow: 0px 0px 5px #74ABE9;
        -moz-box-shadow: 0px 0px 5px #74ABE9;
        box-shadow: 0px 0px 5px #74ABE9;
    }

.header, .filterContainer, .resultsContainer {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px 40px 40px 40px;
    background: rgba(255,255,255,0.1);
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    margin-top: 20px;
    padding: 20px;
}
.innerHeader, .innerFilter, .innerResults {
    background-color: #F7F7F7;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px 20px 20px 20px;
	min-height: 40px;
}

.header {
	height: 85px;
	font-family: Sketch;
 	font-weight: 100;
	font-size: 74px;
	vertical-align: middle;
	text-align: center;
}

.minmax {
	position: relative;
	padding: 6px 0;
	cursor: pointer;
	float: left;
	margin-left: 5px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px 20px 20px 20px;
}
	.minmax .ui-icon {
		float: left;
		margin: 0 6px;
	}
	
.subHeader {
	text-align: center;
	margin-right: 30px;
	vertical-align: middle;
	height: 30px;
	font-size: 25px;
	font-family: Sketch;
	padding-top: 5px;
}

.filter {
	height: 200px;
	margin-top: 10px;
	white-space: nowrap;
	font-size: 15px;
}
	.filter hr {
		margin-left: 5px;
		border: 0px;
		background-color: #999;
	}
	.filter div {
		float: left;
	}

.actions {
	margin-left: 40px;
	width: 280px;
}
	.actions div {
		width: 140px;
	}
.parameters1 {
	margin-left: 20px;
	margin-top: 3px;
}
.parameters2 {
	margin-left: 20px;
	margin-top: 3px;
}
.searchButton {
	height: 40px;
	width: 130px;
	margin-top: -3px;
	margin-left: 3px;
}

.tooltip {
	background-color: #000;
	border: 1px solid #fff;
	padding: 10px 15px;
	width: 200px;
	display: none;
	color: #fff;
	text-align: left;
	font-size: 12px;
	box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-overflow: ellipsis;
}

.results {
	margin: 20px 20px 0px 20px;
}
.searchError {
	width: 500px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	padding-top: 15px;
}
	.searchError .ui-icon {
		margin-top: 6px;
		margin-left: 20px;
		margin-right: -30px;
		float: left;
	}

.results {
	padding-bottom: 20px;
}	
.resultsTable {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse: separate;
	width: 898px;
}
	.resultsTable th {
		padding: 5px;
		color: #fff;
		border: 1px solid #666;
		border-bottom: 3px solid #666;
		background: #333333 url(custom-theme/images/ui-bg_gloss-wave_25_333333_500x100.png) 50% 50% repeat-x;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius: 5px 5px 0px 0px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	.resultsTable td {
		text-align: center;
		background-color: #F2F2F2;
		border: 2px solid #E0E5EF;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		color: #666;
		text-shadow: 1px 1px 1px #fff;
		font-size: 13px;
		font-weight: 400;
		text-overflow: ellipsis;
	}

.loading {
	background-image: url(../images/ajax-loader.gif);
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	height: 20px;
}

.footer {
	text-align: center;
	margin-top: 20px;
	color: #999;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	margin-bottom: 20px;
}